doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mis configuraciones
        link(rel="stylesheet", href="/css/bootstrap.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
        
    body
        include nav
        include header        
        main(class="mx-auto container mt-10 px-2")
            block cuerpocontenido
            block vacio