div(class="hstack gap-3 text-bg-info")
    div(class="p-2" )
        nav(class="navbar navbar-expand-lg")
            div(class="container-fluid" )
                a(class="navbar-brand" href="/") Fes Aragon 
                button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarScroll")
                    ul(class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;")
                        li(class="nav-item dropdown")
                            a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Hoteles
                            ul( class="dropdown-menu")
                                li
                                    a(class="dropdown-item" href="") Consulta Hotel
                                li
                                    a(class="dropdown-item" href="/hotel/gerente/alta") Alta Hotel
                                li
                                    a(class="dropdown-item" href="#") Eliminar Hotel
                        li(class="nav-item dropdown")
                            a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Gerentes
                            ul( class="dropdown-menu")
                                li
                                    a(class="dropdown-item" href="/hotel/gerente/alta") Alta Gerente                                
                                li
                                    a(class="dropdown-item" href="/hotel/gerente/consultaGerentes") Consulta Gerente
                                li
                                    a(class="dropdown-item" href="/hotel/gerente/modificar") Modificar Gerente
                                li
                                    a(class="dropdown-item" href="/hotel/gerente/borrar") Eliminar Gerente
                        li(class="nav-item dropdown")
                            a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Habitaciones
                            ul( class="dropdown-menu")
                                li
                                    a(class="dropdown-item" href="") Consulta Habitación
                                li
                                    a(class="dropdown-item" href="/hotel/gerente/alta") Alta Habitación
                                li
                                    a(class="dropdown-item" href="#") Eliminar Habitación
   
    div(class="p-2 ms-auto")
        div(class="container-fluid")
                a(class="navbar-brand" href="#")
                    img(src="/img/cerrar_sesion.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top")
                    |Sesion            
    div(class="vr")
    div(class="p-2")
        |3


          
